@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400&family=Playfair+Display+SC&display=swap');

/*----------------------------------------------------- */
/* Global Styles */

/* Fonts */
h1,h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display SC', serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

/* Spacing */


/* ---------------------------------------------------- */
/* Navbar */
.nav-link{
    font-family: 'Lato', sans-serif;
    color: #2b2b2b;
}
.nav-link:hover{
    color: #0468BF;
}
.nav-link.active{
    border-bottom: 2px solid #2b2b2b;
}
.nav-link.active:hover{
    border-bottom: 2px solid #0468BF ;
}
.navbar{
    background-color: #95D1DE;
    height: 90px;
    width: 100%;
}

/* ---------------------------------------------------- */
/* Carousel */

.carousel-control-prev, .carousel-control-next {
    top: auto;
    bottom: 50px;
    width: 70px;
    height: 70px;
    background-color: #EBF4FC;
    border-radius: 50%
}

.headerImage{
    object-position: top;
    object-fit: cover;
    max-height: 400px;
    width: 100%;
}
.extraSpecs{
    object-position: bottom;
}
.extraInfo{
    object-position: center;
    padding-top: 80px;
}
/* ---------------------------------------------------- */
/* Gallery */

.gallery{
    margin:0 auto;
    margin-top: 140px;
    margin-bottom: 100px;
    height: 390px;
    width: 98%
}
.imageOne{
    border: 1px solid darkgrey;
    object-fit: cover;
    width: 100%;
    height: 390px;
}
.smallImageLeft {
    border: 1px solid darkgrey;
    object-fit: cover;
    width: 100%;
    height: 155px;
    margin-bottom: 25px;
}
.smallImageRight{
    border: 1px solid darkgrey;
    object-fit: cover;
    width: 100%;
    height: 155px;
    margin-bottom: 25px;
}
.imageFull{
    border: 1px solid darkgrey;
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 210px;
}
.imageLast{
    border: 1px solid darkgrey;
    object-fit: cover;
    width: 100%;
    height: 390px;
}

/* ---------------------------------------------------- */
/* FAQ */

.snowImage{
    margin: 0 auto;
    border-radius: 50%;
    width: 420px;
    height: 420px;
}

/* ---------------------------------------------------- */
/* Footer */

footer{
    margin-top: 50px;
    width: 100%;
    height: 140px;
    background-color: #95D1DE;
}
/* ---------------------------------------------------- */
/* Card */

.card{
    height: 200px;
    background-color:#C2DCF4 ;
}
.cardOne{
    margin-top: 250px;
}
.image{
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.card-text{
margin-bottom: 8px;
}
